<div class="horizontal-form-label">
  <%= f.object.title %>
</div>
<div class="horizontal-form-content">
  <div class="select-dropdown">
    <%= f.label :structure_partable_id, f.object.title %>
    <%= f.select :structure_partable_id, Spina::CaseStudies::CaseStudy.order(:title).map{|c| [c.title, c.id]}, prompt: true, include_blank: true %>
  </div>
</div>
