- content_for :header_actions do
  %span
    = link_to spina.new_admin_case_studies_case_study_path, class: 'button button-primary', style: 'margin-right: 0' do
      = icon 'plus'
      = t 'spina.case_studies.case_studies.new'



.table-container
  %table.table
    %thead
      %tr
        %th Title
        %th

    %tbody
      - if @case_studies.any?
        = render partial: 'case_study', collection: @case_studies, as: :case_study

      - else
        %tr
          %td.align-center{colspan: 3}
            %em There are no case studies yet. Create your first one!
