= form_for [spina, :admin, :case_studies, @testimonial], url: spina.admin_case_studies_testimonial_path(@testimonial.id),
  html: {id: 'testimonial_form', autocomplete: "off"} do |f|
  = render 'form', f: f
