- content_for :header_actions do
  %span
    = link_to spina.new_admin_case_studies_testimonial_path, class: 'button button-primary', style: 'margin-right: 0' do
      = icon 'plus'
      = t 'spina.case_studies.testimonials.new'



.table-container
  %table.table
    %thead
      %tr
        %th Name / Company
        %th

    %tbody
      - if @testimonials.any?
        = render partial: 'testimonial', collection: @testimonials, as: :testimonial

      - else
        %tr
          %td.align-center{colspan: 3}
            %em There are no testimonials yet. Create your first one!
