<%= render Spina::UserInterface::HeaderComponent.new do |header| %>
  <% header.after_breadcrumbs do %>
    <%= link_to spina.new_admin_case_studies_testimonial_path, class: 'btn btn-default h-8 px-2 ml-3' do %>
      <%= heroicon('plus', style: :solid, class: 'w-6 h-6') %>
    <% end %>
  <% end %>
<% end %>
<div class="p-8">
  <% if @testimonials.any? %>
    <div class="shadow-sm border border-gray-200 bg-white rounded-lg">
      <%= render partial: 'testimonial', collection: @testimonials, as: :testimonial %>
    </div>
  <% else %>
    <div class="text-gray-700 italic">
      There are no testimonials yet. Create your first one!
    </div>
  <% end %>
</div>
